.aLeadingSilicon,
.turigmaai {
  align-self: stretch;
  position: relative;
}
.turigmaai {
  margin: 0;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
}
.aLeadingSilicon {
  font-size: var(--font-size-3xl);
  line-height: 157.4%;
  font-family: var(--font-nunito);
  color: var(--color-gray-200);
}
.mailinfoturigmaaiFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px 0;
}
.mailIcon {
  width: 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.infoboxNest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-0) var(--padding-0);
}
.infoturigmaai {
  position: relative;
  line-height: 157.4%;
  white-space: nowrap;
}
.mailphonecall {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 17px;
}
.phoneCallIcon {
  width: 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phoneCallWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-0) var(--padding-0);
}
.div {
  flex: 1;
  position: relative;
  line-height: 157.4%;
}
.mailInfoFrame,
.mailphonecall1,
.textInputFieldFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mailphonecall1 {
  align-self: stretch;
  flex-direction: row;
  gap: 0 17px;
}
.mailInfoFrame,
.textInputFieldFrame {
  flex-direction: column;
}
.textInputFieldFrame {
  width: 209px;
  gap: 18px 0;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-200);
  font-family: var(--font-nunito);
}
.mailInfoFrame {
  width: 379px;
  padding: var(--padding-0) var(--padding-smi) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: 36px 0;
  max-width: calc(100% - 929px);
  flex-shrink: 0;
}
.line,
.pages {
  position: relative;
}
.pages {
  width: 118px;
  line-height: 128.18%;
  text-transform: capitalize;
  display: inline-block;
}
.line {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
}
.pagesParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px 0;
  min-width: 117px;
}
.utilityPages {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 128.18%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.line1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
}
.frameGroup,
.framesChildren {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.framesChildren {
  flex: 1;
  flex-direction: column;
  gap: 24px 0;
  min-width: 120px;
}
.frameGroup {
  width: 397px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 33px;
  max-width: 100%;
}
.aboutUs,
.home {
  margin: 0;
}
.integrations1 {
  font-family: var(--font-nunito);
  color: var(--ff-saas);
}
.contactUs,
.features,
.integrations,
.pricing {
  margin: 0;
}
.homeAboutUsContainer {
  height: 413px;
  width: 160px;
  position: relative;
  line-height: 267.5%;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  min-width: 160px;
}
.account,
.cancelSubscription,
.myProfile,
.resetPassword {
  margin: 0;
}
.myProfileAccountContainer {
  align-self: stretch;
  height: 450px;
  position: relative;
  line-height: 267.5%;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
}
.accountPage {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: 146px;
}
.accountPage,
.appDownloadCallToAction,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.appDownloadCallToAction {
  align-self: stretch;
  flex-direction: row;
  gap: 0 53px;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-200);
}
.frameParent {
  width: 437px;
  flex-direction: column;
  gap: 22px 0;
  max-width: calc(100% - 871px);
  font-family: var(--font-nunito);
}
.content {
  width: 416px;
  display: none;
  max-width: 100%;
}
.aboutUsPages,
.appDownload {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.appDownload {
  height: 205px;
  width: 392.3px;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-46xl) var(--padding-18xl);
  max-width: calc(100% - 916px);
}
.aboutUsPages {
  width: 1308.3px;
  height: 497px;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-222xl);
  gap: 0 50px;
  max-width: 100%;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-300);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1200px) {
  .mailInfoFrame {
    flex: 1;
    max-width: calc(100% - 442px);
  }
  .frameParent {
    display: none;
  }
  .appDownload {
    max-width: calc(100% - 429px);
  }
}
@media screen and (max-width: 1050px) {
  .pages,
  .turigmaai,
  .utilityPages {
    font-size: var(--font-size-5xl);
  }
  .pages,
  .utilityPages {
    line-height: 31px;
  }
  .aboutUsPages {
    padding-bottom: var(--padding-138xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .aboutUsPages {
    gap: 0 25px;
  }
}
@media screen and (max-width: 450px) {
  .turigmaai {
    font-size: var(--font-size-lg);
  }
  .aLeadingSilicon,
  .div,
  .infoturigmaai {
    font-size: var(--font-size-lg);
    line-height: 28px;
  }
  .mailInfoFrame {
    gap: 18px 0;
  }
  .pages,
  .utilityPages {
    font-size: var(--font-size-lg);
    line-height: 23px;
  }
  .frameGroup {
    gap: 0 16px;
  }
  .homeAboutUsContainer {
    flex: 1;
  }
  .homeAboutUsContainer,
  .myProfileAccountContainer {
    font-size: var(--font-size-lg);
    line-height: 47px;
  }
  .appDownloadCallToAction {
    flex-wrap: wrap;
    gap: 0 26px;
  }
  .aboutUsPages {
    height: auto;
    padding-bottom: var(--padding-83xl);
    box-sizing: border-box;
  }
}
