.aiCoPilot {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 125%;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 396px;
  max-width: 100%;
}
.turigmaaiLogo {
  align-self: stretch;
  height: 16.3px;
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--color-silver-200);
}
.getAnswerButton,
.rectangleFrameProspectError {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.getAnswerButton {
  flex: 1;
  flex-direction: column;
  padding: 23.299999999999955px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  min-width: 396px;
}
.rectangleFrameProspectError {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 9.9px;
}
.getAnswer {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-nunito);
  color: var(--dark-theme-gray-0);
  text-align: left;
}
.button,
.utilityPageParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl) 52.29999999999927px;
  background-color: var(--ff-saas);
  border-radius: var(--br-20xl);
  align-items: flex-start;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-mediumslateblue-500);
}
.utilityPageParent {
  align-self: stretch;
  height: 555px;
  background-color: var(--dark-theme-gray-0);
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-33xl) var(--padding-29xl);
  box-sizing: border-box;
}
.frequentlyAskedQuestionsTex,
.turigmaaiHeaderFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frequentlyAskedQuestionsTex {
  flex: 1;
  background-color: var(--ff-saas);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-7xl) var(--padding-2xl) var(--padding-7xl)
    var(--padding-4xl);
  gap: 21px 0;
}
.turigmaaiHeaderFrame {
  width: 1367.2px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-28xl) var(--padding-0)
    46.29999999999927px;
  flex-shrink: 0;
}
.line {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
}
.lineSeparator {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 67px 0;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--dark-theme-gray-0);
  font-family: var(--font-nunito);
}
@media screen and (max-width: 1200px) {
  .turigmaaiHeaderFrame {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .aiCoPilot {
    font-size: var(--font-size-21xl);
    line-height: 50px;
  }
}
@media screen and (max-width: 750px) {
  .aiCoPilot,
  .getAnswerButton {
    min-width: 100%;
  }
  .frequentlyAskedQuestionsTex {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .lineSeparator {
    gap: 33px 0;
  }
}
@media screen and (max-width: 450px) {
  .aiCoPilot {
    font-size: var(--font-size-11xl);
    line-height: 37px;
  }
  .utilityPageParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .lineSeparator {
    gap: 17px 0;
  }
}
