.link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-37xl) var(--padding-62xl);
  box-sizing: border-box;
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .link {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
