.backgroundIcon {
  width: 1265.9px;
  height: 1004px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.backgroundIcon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.goToThe {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-nunito);
  color: var(--dark-theme-gray-0);
  text-align: left;
}
.frameWrapper,
.testimonial1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.testimonial1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl) var(--padding-15xl);
  background-color: var(--color-blueviolet-200);
  border-radius: var(--br-20xl);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.testimonial1:hover {
  background-color: var(--color-mediumslateblue-300);
}
.frameWrapper {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
}
.trustedBySales {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
  z-index: 2;
}
.lineWrapper,
.logoWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.lineWrapper {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px 0;
}
.logoWrapper {
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.h1 {
  margin: 0;
  width: 48px;
  position: relative;
  font-size: inherit;
  line-height: 61px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.brandImageFrame {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.bg,
.h11 {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-blueviolet-200);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.h11 {
  margin: 0;
  top: 54px;
  left: 43px;
  font-size: inherit;
  line-height: 110%;
  font-weight: 400;
  font-family: inherit;
  transform: rotate(-180deg);
  transform-origin: 0 0;
  z-index: 3;
}
.phonecallButtonNode {
  height: 76px;
  width: 76px;
  position: relative;
}
.outboundPresalesCalling {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  line-height: 157.4%;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-nunito);
  text-align: center;
  min-width: 595px;
  max-width: 100%;
  z-index: 2;
}
.mailSectionNode {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 20.1px;
  min-width: 658px;
  max-width: 100%;
}
.bg1,
.h12 {
  position: absolute;
}
.bg1 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-blueviolet-200);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.h12 {
  margin: 0;
  top: 21px;
  left: 33px;
  font-size: inherit;
  line-height: 110%;
  font-weight: 400;
  font-family: inherit;
  z-index: 3;
}
.textFrame {
  align-self: stretch;
  height: 76px;
  position: relative;
}
.textFrameWrapper {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.contactDataFrame,
.tagAnalysisFrames {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contactDataFrame {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 34.5px;
  text-align: left;
  font-size: var(--font-size-11xl);
  font-family: var(--font-calistoga);
}
.tagAnalysisFrames {
  flex-direction: column;
  justify-content: flex-start;
}
.imageIcon {
  height: 108px;
  width: 108px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.tagMarketing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-24xl);
}
.jamesToriff,
.presalesHead {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 157.4%;
  font-family: inherit;
}
.jamesToriff {
  font-weight: 700;
  white-space: nowrap;
  z-index: 2;
}
.presalesHead {
  font-weight: 600;
  z-index: 3;
}
.frameInfo,
.lineSeparator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lineSeparator {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-10xl) var(--padding-0)
    var(--padding-10xl-5);
  font-size: var(--font-size-xl);
}
.frameInfo {
  flex-direction: column;
}
.starIcon {
  height: 28.4px;
  width: 139px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.automateReports {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-8xl) var(--padding-0)
    var(--padding-8xl-5);
}
.automateReports,
.november,
.readMoreLink {
  display: flex;
  align-items: flex-start;
}
.readMoreLink {
  flex-direction: column;
  justify-content: flex-start;
  gap: 4.5px 0;
}
.november {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-16xl);
}
.guideTexts,
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.guideTexts {
  align-self: stretch;
  gap: 42px 0;
  max-width: 100%;
  font-size: var(--font-size-81xl);
}
.testimonial {
  margin-right: -27.799999999999955px;
  width: 100%;
  background-color: var(--ff-saas);
  padding: var(--padding-168xl) 61.59999999999991px 147.60000000000002px
    var(--padding-64xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-44xl);
  max-width: 102%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--dark-theme-gray-0);
  font-family: var(--font-nunito);
}
@media screen and (max-width: 1050px) {
  .outboundPresalesCalling {
    min-width: 100%;
  }
  .mailSectionNode {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .testimonial {
    padding-top: var(--padding-103xl);
    padding-bottom: var(--padding-77xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .trustedBySales {
    font-size: var(--font-size-21xl);
    line-height: 44px;
  }
  .h1 {
    font-size: var(--font-size-31xl);
    line-height: 66px;
  }
  .h11,
  .h12 {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }
  .contactDataFrame {
    gap: 0 17px;
  }
  .jamesToriff {
    font-size: var(--font-size-9xl);
    line-height: 44px;
  }
  .guideTexts {
    gap: 21px 0;
  }
  .testimonial {
    gap: var(--gap-12xl);
    padding: var(--padding-60xl) var(--padding-12xl) var(--padding-43xl)
      var(--padding-22xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h1,
  .trustedBySales {
    font-size: var(--font-size-11xl);
    line-height: 33px;
  }
  .h1 {
    line-height: 44px;
  }
  .h11 {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }
  .outboundPresalesCalling {
    font-size: var(--font-size-xl);
    line-height: 31px;
  }
  .h12 {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }
  .jamesToriff {
    font-size: var(--font-size-2xl);
    line-height: 33px;
  }
  .presalesHead {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .testimonial {
    gap: var(--gap-base);
  }
}
